*{
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}

body{
    background-color: #fffafa;
    padding: 0;
    margin: 0;
}

 /*================
    *==Start Header==
    =================*/
header{
    background-color: #0e0d0d;
    height: 66px;
}

header *{
    color: #fff;
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo_text{
    font-family: 'Merienda One', cursive;
    text-transform: uppercase;
    color: dodgerblue;
    margin: 10px;
    font-size: 38px;
}

header ul{
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
}

header ul li{
    float: left;
    position: relative;
}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1em;
    text-decoration: none;
    text-transform: capitalize;

}

header ul li a:hover{
    background-color: dodgerblue;
    transition: 0.5s;
}


header ul li ul{
    position: absolute;
    top:66px;
    right: 0;
    width: 150px;
    display: none;
}

header ul  li:hover ul{
    display: block;
}

header ul li ul li {
    width: 100%;
    background-color: #5e7184;
}

header ul li ul li a{
    padding: 10px;
    color: #0e0d0d;
}

header .fa-bars{
    display: none;
}
    /*==============
    *==End Header==
    ===============*/

    /*======================
    *==Start Page Wrapper==
    =======================*/


        /*Start Post Slider*/
.post_slider{
    position: relative;
}

.page_wrapper .post_slider .slider_tittle{
    text-transform: capitalize;
    text-align: center;
    margin: 30px auto;
}

.post_slider .prev{
    position: absolute;
    top: 50%;
    left: 50px;
    font-size: 2em;
    cursor: pointer;
}

.post_slider .next{
    position: absolute;
    top:50%;
    right:50px;
    font-size: 2em;
    cursor: pointer;
}

        /*End Post Slider*/

        /*Start Post Wrapper*/
.page_wrapper .post_slider .post_wrapper{
    overflow: hidden;
    width: 84%;
    height: 350px;
    padding: 10px 0;
    margin: 0 auto;
}
.post_slider .post_wrapper .post{
    width: 300px;
    height: 330px;
    margin: 0 10px;
    display: inline-block;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem -1rem #0e0d0d ;
}

.post_slider .post_wrapper .post .slider_image{
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post_slider .post_wrapper .post .post_info{
    height: 130px;
    padding: 0 5px;
}

.post_slider .post_wrapper .post .post_info h4 a{
    text-decoration: none;
    color: #0e0d0d;
    font-family: Serif, cursive, sans-serif;
    margin: 5px;
    font-size: 20px;
}

.post_slider .post_wrapper .post .post_info h4 a:hover{
    color: dodgerblue;
}

    /*=================
     *==Media Queries==
    ===================*/
@media only screen and (max-width:750px) {
    header{
        position: relative;
    }
    header .logo {
        margin-left: .8em;
        width: 100%;
    }
    header .logo_text{
        font-size: 30px;
        margin: 15px;
    }
    header ul{
        width: 50%;
        background-color: #5e7184;
        max-height: 0;
        overflow: hidden;
    }
    .showing{
        max-height: 100em;
    }
    header ul li{
        width: 100%;
    }
    header ul li ul{
        position: static;
        padding:10px;
        width: 100%;
        display: block;
    }
    header ul li ul li {
        background-color: #5e7184;
    }
    header ul li ul li a{
        color: #fff;
        padding-left: 50px;
    }
    header .fa-bars{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
    }

}
